<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
    <appSettings>
        <add key="SQLIP" value="159.253.75.92\SQLEXPRESS,3029"/>
        <add key="Username" value="PokemonUser"/>
        <add key="Password" value="resUnomekoP"/>
        <add key="PlayerDatabase" value="Pkmn_Player_Data"/>
        <add key="PokemonDatabase" value="Pkmn_Pokemon_Data"/>
    </appSettings>
</configuration>